
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
  
<h3>All Flurbos List</h3>
    <table style="width:80%" border="1" 
           class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Id</th>
    <th>Flurbo Description</th>
    <th>Active Indicator</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="flurbo:${allFlurbos}">
        <td> <a th:href="@{/listVurbosForFlurbo/{id} (id=${flurbo.id})}" th:text="${flurbo.id}"></a></td>
        <td th:text="${flurbo.description}"></td>
        <td th:text="${flurbo.activeIndicator}"></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>