
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
  
<h3>All Vurbos List</h3>
    <table style="width:80%" border="1" 
           class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Id</th>
    <th>Flurbo Id</th>
    <th>Sequence Number</th>
    <th>Vurbo</th>
    <th>Active Indicator</th>
    <th>Create Date</th>
    <th>Modified Date</th>
    <th>Author Id</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vurbo:${allVurbos}">
        <td th:text="${vurbo.id}"></td>
        <td th:text="${vurbo.flurboId}"></td>
        <td th:text="${vurbo.sequenceNumber}"></td>
        <td th:text="${vurbo.vurbo}"></td>
        <td th:text="${vurbo.activeIndicator}"></td>
        <td th:text="${vurbo.createDate}"></td>
        <td th:text="${vurbo.modifiedDate}"></td>
        <td th:text="${vurbo.authorId}"></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>